
VBApp/.vs/WebApplicationVB/config/applicationhost.config
VBApp/.vs/WebApplicationVB/FileContentIndex/02e577e2-9cbd-4c83-aa29-fb77ee47b57b.vsidx
/VBApp/.vs/WebApplicationVB/FileContentIndex
/VBApp/.vs/WebApplicationVB/v17
